@import '../../../styles';

.card-container {
  display: grid;
  grid-gap: 10px;
  border-radius: 3px;
  margin-top: 10px;
  @include box-shadow($shadow-md);

  .header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: $success-color;
    color: white
   }

   .title {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 10px;
      align-items: center;
   }

   .body, .footer {
      padding: 10px;
      background-color: white;
   }
}
